# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# environment
.env
venv/
.venv/

# jupyter
.ipynb_checkpoints

# mac
.DS_Store

# logs
*.log

# data
data/
*.csv
*.parquet

# model
models/
*.pkl

# IDE
.vscode/
.idea/
